#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1vh;
    width: 50vw;
}

p {
    text-align: justify;
    width: 50vw;
    font-size: 1.5rem;
    margin: 1rem;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.links a{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #0e0e0e;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: all 0.3s ease;
}

.links a:hover {
    box-shadow: 3px 3px 10px -5px #f0f0f0;
    transform: scale(110%);
}

.links * img {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}

#contact {
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #f0f0f0;
}

#admin-name {
    text-align: center;
    padding: 0.5rem;
    border-bottom: solid 0.1rem #f0f0f0;
    border-radius: 0;
}