body {
	background-color: #0e0e0e;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #f2f2f2;
	text-decoration: none;
	font-size: 102%;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
}

.nav {
	display: flex;
	width: 100%;
	height: 8vh;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 2%;
}

.nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}

.nav ul li {
	margin: 0 0.8vw;
}

#logo {
	border-width: 1px;
	border-style: solid;
	border-color: #f2f2f2;
}

.nav * a {
	text-decoration: none;
	font-size: 120%;
	font-weight: 500;
	padding: 5% 10%;
	border-radius: 5px;
	letter-spacing: 2px;
	transition: all 0.2s ease;
}

.nav ul li *:hover,
.logo *:hover {
	color: #0e0e0e;
	background-color: #f2f2f2;
}

.non-nav {
	display: flex;
	flex-direction: row;
	height: 92vh;
}

#content {
	margin-left: 2vw;
}

iframe {
	border-width: 0;
	border-style: none;
	border-color: none;
	border-image: none;
}

#notifications {
	color: white;
	margin-left: 5%;
	margin-right: 0.5%;
	width: 20%;
}

.notificationbox {
	display: block;
	border-radius: 4%;
	background-color: #00caff;
	padding: 4% 8%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 100%;
	transition: all 0.3s ease;
}

h1 {
	font-size: 120%;
	font-weight: bolder;
}

.notificationbox:hover {
	margin-left: -30%;
}

.expand {
	display: none;
}