/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');*/

body {
	background-color: #0e0e0e;
}

* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #f2f2f2;
	text-decoration: none;
	font-size: 102%;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
}

.nav {
	display: flex;
	width: 96%;
	height: 10%;
	align-items: center;
	justify-content: space-between;
	padding: 2%;
	flex-wrap: nowrap;
}

.nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}

.nav ul li {
	margin: 0 5%;
}

.nav * a {
	text-decoration: none;
	font-size: 3vh;
	font-weight: 500;
	padding: 5% 10%;
	border-radius: 5px;
	letter-spacing: 2px;
	transition: all 0.2s ease;
}

.nav ul li *:hover,
.logo *:hover {
	color: #0e0e0e;
	background-color: #f2f2f2;
}

div.non-nav {
	display: flex;
	flex-direction: row;
}

div#content {
	width: 100%;
}

h1 {
	font-size: 3vh;
	font-weight: bolder;
}

div.notificationbox:hover {
	margin-left: -30%;
}

div.expand {
	display: none;
}

::-webkit-scrollbar {
    display: none;
}
