{% extends "base.html" %}
{% block body %}
    <div class="w3-content">
        <h1> {{ lang.about_page.heading }} </h1>
        <p> {{ lang.about_page.body }} </p>
        <div class="w3-row">
            <span class="w3-button w3-card-2 w3-row-item w3-theme-light">
                <a target="_blank" href="https://github.com/Doctorfuchs/kiosk"><img style="width:32px; height:32px;" src="./icons/github.svg" alt="GitHub"> GitHub</a>
            </span>
            <div class="w3-card-2 w3-padding w3-row-item w3-right w3-center w3-theme-light" style="width: max-content;">
                <h3>{{ contact.admin_name }}</h3><br />
                {% for contact_way in contact.contact_ways%}
                    <a class="w3-button" href="{{contact_way.link}}" target="_blank" title="{{contact_way.name}}">
                        <img style="width:32px; height:32px;" src="./icons/{{contact_way.icon}}" alt="{{contact_way.icon}} Logo">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
