<!doctype html>
<head>
    <title>{% block title %}{{  lang.title }}{% endblock %}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KIOSK APP -> OPEN SOURCE ON DoctorFuchs/Github">
    <meta name="robots" content="noindex">

    <link rel="stylesheet" type="text/css" href="css/defaultstyle.css">
    <link rel="stylesheet" type="text/css" href="css/overlay.css">
    <link rel="stylesheet" type="text/css" href="css/w3.css">

    <script src="js/general.js"></script>
    <script src="js/overlay.js"></script>
    <script src="js/clock.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="overlay">
        {% if firstrun != False %}
        <script>
            addEventListener("DOMContentLoaded", e => {
                overlay_on()
            })

        </script>
        <div style='display:flex;flex-direction:column;justify-content:center'>
            <h1>{{ lang.greeting_header }}</h1>
            {% for body in lang.greeting_bodys %}
            <p>{{ body }}</p>
            {% endfor %}
            <button onclick="overlay_off()" style='padding:1rem'>{{ lang.accept }}</button>
        </div>
        {% endif %}
    </div>
    <div id="nav">
        <nav class="nav">
            <div class="logo left-navbar-item">
                <a href="index.html">{{ lang.title }}</a>
            </div>
            <div id="statusbar">
                <span id="time" class="clock" style="border-right: solid 0.1vw #f2f2f2;"></span><span id="date" class="clock" style="border-left: solid 0.1vw #f2f2f2;"></span>
            </div>
            <ul class="right-navbar-item">
                <li>
                    <a href="shop.html">{{ lang.shop }}</a>
                </li>
                <li>
                    <a href="storage.html">{{ lang.storage }}</a>
                </li>
                <li>
                    <a href="about.html">{{ lang.about }}</a>
                </li>
                <li>
                    <a href="settings.html">{{lang.settings}}</a>
                </li>
            </ul>
        </nav>
    </div>
    {% block body %}{% endblock %}
</body>
