{% extends "base.html" %}
{% block head %}
<script src="js/general.js"></script>
<script src="js/api.js"></script>
<script src="js/itembag.js"></script>
{% endblock %}
{% block body %}
    <div class="w3-sidebar w3-bar-block w3-theme-d2 w3-card" id="itembag" style="width:25%;right:0;">
        <h1 class="w3-bar-item">{{ lang.add_products_warning }}</h1>
    </div>

    <div id="products" style="margin-right:25%">
        <h1><a href="storage.html"> > {{lang.storage}}</a></h1>
    </div>
    <div style="position: fixed; top: 95vh; right: 24px; z-index: 10;">
        <button class="w3-button" id="sum">0€</button>
        <button id="pay" class="w3-button" onclick="ITEMBAG.render_pay()">
            {{ lang.pay }}
        </button>
    </div>
{% endblock %}
