<div>
    <h1 style='font-size: 6vh'>{{lang.editing.upper()}} - %itemname%</h1>
    <iframe style='display:none' name='hiddenframe'></iframe>
    <form action='/api/shop/edit' target='hiddenframe' method='GET' onsubmit='overlay_off()'>
        <input required name='item_name_old' type='hidden' value='%itemname%'>
        <label class='edit-label' for='item_name_new'>{{lang.name}}</label><br>
        <input required pattern='[a-zA-Z0-9\s]+' class='edit' id='item_name_new' name='item_name_new' value='%itemname%' type='text'><br>
        <label class='edit-label' for='item_cost_new'>{{lang.price}}</label><br>
        <input required class='edit' id='item_cost_new' name='item_cost_new' value="%itemcost%" type='number' min='0' step='0.01'><br>
        <label class='edit-label' for='item_amount_new'>{{lang.amount_available}}</label><br>
        <input required class='edit' id='item_amount_new' name='item_amount_new' value="%itemamount%" type='number' min=0 step='1'><br>
        <button class='submit-button' type='submit'>{{lang.accept}}</button>
        <button class='delete' onclick='deleteitem("%itemname%"); exitForm()' type='button'>{{lang.delete}}</button>
        <button class='exit' onclick='exitForm()' type='reset'>{{lang.cancel}}</button>
    </form>
</div>