body {
	justify-content: center;
	background-color: #0e0e0e;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

nav {
	display: flex;
	height: 80px;
	width: 100%;
	background: #0e0e0e;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 100px;
	flex-wrap: wrap;
}

nav * {
	font-size: 18px;
	font-weight: 700;
	color: #f2f2f2;
	text-decoration: none;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

nav ul li {
	margin: 0 5px;
}

a {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}

p {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
}

h1 {
	color: #f2f2f2;
}

nav ul li a:hover {
	color: #111;
	background: #fff;
}

div#notifications {
	color: white;
	margin-left: 5%;
	width: 20%;
}

div.notificationbox {
	display: block;
	font-size: 18px;
	border-radius: 5px;
	color: #ffffff;
	background-color: #00caff;
	padding: 12px 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	transition: all 0.3s ease;
}

div.notificationbox:hover {
	margin-left: -30%;
}

div.non-nav {
	display: flex;
}

div#content {
	margin-left: 10%;
	width: 65%;
}

div.expand {
	display: none;
}

div.content a {
	color: white;
}

